# IDE
.metadata
.idea/
.project
.classpath
.settings/
.factorypath

# IntelliJ
*.iml

# Git
.git

# Logs
logs/

# Build folders
target/
test-output/
allure-report/
allure-results/
ExtentReports/
reports/

# Screenshots
screenshots/
test-output/Screenshots/

# OS files
.DS_Store
Thumbs.db

# Runner
src/test/java/com/runner/TestRunner.java
bin/

#downloads
downloads/
/.apt_generated/
/.apt_generated_tests/