.metadata
.idea/
.project
.classpath
.settings/
.factorypath
*.iml
.git
logs/
target/
test-output/
allure-report/
allure-results/
ExtentReports/
screenshots/
test-output/Screenshots/
.DS_Store
Thumbs.db
src/test/java/com/runner/TestRunner.java
bin/
downloads/
